@import 'colors';
@import 'distances';

@mixin google-font($font-name) {
  $font-name: str-replace($font-name, ' ', '+');
  $font-name: unquote($font-name);
  @import url('https://fonts.googleapis.com/css?family=#{$font-name}');
}

$font-name: 'Roboto';

@include google-font($font-name);

// usage: @include google-font($font-name);

@mixin phone-screen {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

//usage: @include phone-screen {
//  font-size: 1.5rem;
//}
